@import url("https://raw.githubusercontent.com/Boernthebred/discord-css/master/main.css")
/**Background**/
body {
    background: url('BACKGROUND URL') rgba(0, 0, 0, 0);
    background-size: 1920px 1080px;
}

/**Background opacity**/
.app-19_DXt {
    background: rgba(0, 0, 0, 0.87) !important;
}