@import url(https://boernthebred.github.io/discordcss/main.css);

/**/
/* settings */
:root {
    --background-url: url(https://i.imgur.com/cPk3uJl.jpg);
    --background-width: 1920px;
    --background-height: 1080px;
    --background-opacity: rgba(0, 0, 0, 0.87);
}

.quickswitcher-3JagVE {
    background-color: rgba(47, 49, 54, 1)
}